body {
    background: #ffffff;
    text-decoration: none;
    width: 100%;
    height: 100%;
}

body, form, div, p, a, img, h1, h2, h3, h4, h5, h6, table, table tr, table td {
    border: none;
    color: #000000;
    /* font-family: 'Open Sans', sans-serif;
    font-family: 'Roboto', sans-serif;  */
    font-family: 'Raleway', sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: normal;
    margin: 0;
    padding: 0;
}

input,
textarea,
select {
    outline: none;
    font-family: Arial;
    font-size: 12px;
    box-sizing: border-box;
}

input::-moz-focus-inner {
    border: 0;
    padding: 0;
}

a {
    text-decoration: underline;
    outline: none;
}

a:hover {
    text-decoration: none;
}

h1, h2 {
    font-size: 20px;
    padding: 0 0 10px 0;
    color: #545454;
}

.mainer {
    max-width: 1250px;
    margin: 100px auto;
    padding: 0 15px;
}

.header {
    width: 360px;
    margin: 0 auto;
    text-align: center;
}

.caption {
    font-size: 18px;
    font-weight: 500;
    color: #898f8f;
    text-align: center;
    
}

.title {
    font-size: 60px;
    font-family:'Roboto', sans-serif;
    font-weight: 900;
    color: #ffcc00;
    margin-bottom: 15px;
}

.title--secondary {
    font-size: 36px;
    color: #666666;
}

.title--secondary::after {
    content: '';
    display: block;
    height: 1px;
    width: 100px;
    background-color: #ffcc00;
    margin: 20px auto;
}

.caption--secondary {
    margin-bottom: 30px;
}

.icon {
    display: flex;
    align-items: center;
}

.icon::before {
    content: '';
    width: 220px;
    height: 1px;
    display: inline-block;
    background-color: #ffcc00;
}

.icon::after {
    content: '';
    width: 220px;
    height: 1px;
    display: inline-block;
    background-color: #ffcc00;
}

.icon__head {
    margin: 0 20px;
}

.section {
    width: 1200px;
    height: 560px;
    display: flex;
    text-align: center;
    justify-content: space-around;
    align-items: center;
    padding: 0 15px;
    margin-top: 40px;
}

.section::before{
    content: '';
    border: solid #ffcc00;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
    cursor: pointer;
}

.section::after {
    content: '';
    border: solid #ffcc00;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 4px;
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
    cursor: pointer;
}

.section__block {
    border-right: 1px solid #ffcc00;
    height: 100%;
}

.section__block--border {
    border-right: none;
}

.info {
    width: 420px;
    margin-top: 95px;
}

.photo {
    z-index: 1;
}

.photo--border {
    position: relative;
}

.photo--border:before {
  display: block;
  position: absolute;
  content: '';
  width: 218px;
  height: 435px;
  background: #ffffff;
  top: -1px;
  left: 107px;
  z-index: -1;
}

.photo--border::after {
  display: block;
  position: absolute;
  content: '';
  width: 432px;
  height: 218px;
  background: #ffffff;
  top: 107px;
  left: -1px;
  z-index: -1;
}

.photo--border {
    border: 1px solid #ffcc00;
    padding: 20px;
    margin: 75px 75px 0 0;
} 


.main-photo {
    border: 1px solid #ffcc00;
    box-sizing: border-box;
    transition-duration: 0.3s;
    cursor: pointer;
}

.main-photo:hover {
    transform: scale(1.02,1.02);
}


.social {
   display: flex;
   justify-content: center;
   margin-bottom: 30px;
}

.social__icon:hover {
    border: 2px solid #ffcc00;
    color: #ffcc00;
}

.social__icon {
    width: 30px;
    height: 30px;
    text-align: center;
    color: #cccccc;
    border-radius: 50%;
    border: 2px solid #cccccc;
    display: inline-block;
    box-sizing: border-box;
    margin: 0 2px;
    padding: 6px;
    transition-duration: 0.3s;
}

.social__icon:hover {
    transform: scale(1.1,1.1);
}


.desc {
    font-size: 14px;
    font-weight: 500;
    line-height: 25px;
    margin-bottom: 30px;
}

.input-wrapper__button {
    width: 120px;
    height: 24px;
    border: 1px solid #ffcc00;
    color: #666666;
    background-color: #ffffff;
    font-size: 14px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    transition-duration: 0.3s;
}

.input-wrapper__button:hover {
    background-color: #ffcc00;
    color: #ffffff;
    cursor: pointer;
}

.input-wrapper__button:active {
    transform: scale(1.02,1.02);
}

.scroll {
    display: flex;
    justify-content: center;
    margin: 40px 0;
    padding: 0 9px;
}

.scroll__item {
    border-radius: 50%;
    background-color: #ffcc00;
    width: 10px;
    height: 10px;
    margin: 0 4px;
    cursor: pointer;
}

.scroll__item:hover{
    border-radius: 50%;
    border: 1px solid #ffcc00;
    background-color: white;
    box-sizing: border-box;
}